# Web app framework
streamlit
streamlit-webrtc

# Computer vision
opencv-python-headless

# Deep learning
tensorflow
keras

# Data handling
numpy
pandas

# Spotify API
spotipy

# Misc
protobuf==3.20.*
